
@import './bootstrap_custom.scss';
$twitter-dark: #27152b;
$twitter-blue: #00aced;
$twitter-grey: #666;
$twitter-light-grey: #ccc;
body {
    padding: 0;
    margin: 0;
    background-color: white;
    
}
.left_bar{
    
    background-color:#1B2A3D;
    top:0;
    z-index: 10001!important;
    height: 200rem;
    width: 17rem;
    .asd{
        color:#677D92;
        font-size: 1.5rem;
    }
    .left_bar_photo{
        height: 60px;
        width: 60px;
    }
    .profile_left_bar{
        height: 5rem;;
        border: 2px solid #202c3d
    }
    .inner_profile_left_bar{
        position: relative;
        top:0.8rem;
    }
    .followers_count{
        position: relative;
        
    }
    .followers_left{
        color: #677D92;
        border: 2px solid #131f30;
        width: 100%;

        .numbers{
            position: relative;
            font-size: 1.4rem;;
            font-weight: 800;
            top: 0.2rem;
            color:#A5B1BD;
        }
        .followers_span{
            position: relative;
            bottom: 0.3rem;
            font-size: 1rem;
            color:#677D92;
        }
    }
    .left_bar_list{

        position: relative;
        left:-2rem;
        li{
            position: relative;
            display: flex;
            justify-content: left;;
            height: 5rem;
            background-color: red($color: #cec3c3)!important;
            color:#677D92;
            svg{
               position: relative;
               fill:#677D92;
               top:1.5rem;
               left:1.2rem;
            }
            span{
                position:relative;
                font-size: 1.2rem;
                font-weight: bold;
                top:1.5rem;
                left: 2rem
            }
        }
    }

}


.nav-bar{
    background-color: #52A6E6;
    position: fixed;
    top:0;
    width: 100%;
    clear: both;
    z-index: 100!important;
    height: 9rem;
    
}
.lef_nav_icons{
    display: block;
    color: #213346!important;
    text-align: center;
    font-weight: 500;
    padding: 14px 16px;
    text-decoration: none;
    background:#F7C099;
    height: 5rem;
    box-shadow: -1px 11px 31px 0px rgba(0,0,0,0.75);
            }
.lef_nav_icons:hover {
    background-color: rgb(211, 112, 112)!important;
}

.form_init{
    background-color: rgba(248, 247, 216, 0.0);
    position: relative;
    top: 5rem;;
    padding-top: 5rem;;
    left: 0;
    width: 110%;
    height: 110%;
}

#configuration{

    max-width: 4rem;
    margin-top: 1rem;
    margin-left: 2rem;
}
#png{
    max-width: 4rem;
    margin-top: 1rem;
    margin-right: 2rem;
}
.conf{
    transform: scaleX(-1);
}
.some-class {
    display: block;
    margin-top: 1rem;
    fill: #e4dcdc;
    width: 5em;    
    height: 4.5em;
    
  }

.right-pane {
    float: right;
    position: fixed;
    top:3rem;
    right:0;
    background-color: $twitter-dark;
    height: 100%;
    color: white;
    width: 14.7rem;
    z-index: 2!important;
    padding-top: 3rem!important;
    overflow-y: scroll;
    ul{
        float: right;
        li{
            list-style-type: none;
            a {
                color: #bdb8d7;
                text-decoration: none!important;
                box-shadow: -1px 11px 31px 0px rgba(0,0,0,0.75);
                display: block;
                text-align: center;
                font-size: 1rem;
                padding: 1rem;
                
            }
            a:hover{
                text-decoration: none!important;
                background: rgb(39, 40, 43);
                box-shadow: 2px 25px 109px 55px rgba(0,0,0,0.75);
            }
        }
    }
    
    // position: fixed;
}
.right-pane::-webkit-scrollbar {
    display: none;
  }
.navbar.navbar-expand-lg {
    margin-bottom: 0;
    border-radius: 0; // position: fixed;
    position: sticky;
}



.nav_adjust {
    position: fixed;
    top:0;
}
.user_email{
    color: white;
    font-size: 1.5rem;;
}

.photo_card{
    max-width: 100%;
    max-height: 100%;;
}

.post_creator{
    padding: 1rem;
    background: rgb(224, 221, 221);
    height: 4rem;;
}
.post_content{
    margin-top: 2rem;;
}

.counter{
    font-size: 2.5rem;
}

.sign_form{
    background: rgba(209, 178, 149, 0.5);
    padding: 1rem;
    margin-bottom: 2rem;;;
}
#my_tweets_title{
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2rem;
    color: #27152b
}
.follow-data{
    position: relative;
    
}
#show_cards_user{
    position: relative;
    color:white;
    background: #27152B;
    width: 40rem;;
}
#show_cards_user1{
    position: relative;
    color:white;
    background: #27152B;
    width: 35rem;;
}
.likes_counter{
    position: relative;
    height: 5rem;
    padding:1rem;
    background:#E2D8CA;
    color: black;
    border: rgba(182, 179, 179,0.5) 4px solid
}
#likes_up, #likes_down{
    width: 50px;
    height: 50px;
}
.likes_counter1{
    position: relative;
    height: 5rem;
    padding:1rem;
    background:#E2D8CA;
    color: black;
    border: rgba(182, 179, 179,0.5) 4px solid
}