// Place all the styles related to the Listenings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.following{
    margin-top:8.5rem;
    height:100%;
    width: 30rem;;
    background-color: white;
}
.followings{
    width: 45rem;
    position: relative;
    left:15rem;
    border-bottom: 2px solid rgba(0,0,0,0.3);;
    span{
        position:relative;
        left:5rem;
        font-size: 2rem;
        font-weight: 600;
        color:rgb(226, 68, 68);
    }
}
.follow{
    text-emphasis: none!important;
    text-decoration: none!important;
}
.image_following{
    width: 15rem!important;
    height: 15rem!important;
}
.group_title_scroll{
    a{
        text-decoration: none;
        color:black;
        
    }
    a:hover{
        text-decoration: none;
        color:black;
        border-bottom: 5px solid #52A6E6;
        padding-left: 0.5rem;
        
        padding-right: 0.5rem;
        box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.34);
    }
}