// Place all the styles related to the listeners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.follow {
    margin-top: 5rem;;
    border: 2px solid rgb(62, 5, 85); 
    position: relative;
    width: 25rem;
}
.images_followers{
    width: 50px!important;
    height: 50px!important;;
}
.profile_follow{
    color: white;
    font-size: 2rem;
    position:relative;
    right: 1rem;
    bottom: 0.2rem;
}
.followers_card{
    position: relative;
    left:-5rem;
    width: 47rem!important;;
}