// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sign_form{
    background: rgba(126, 117, 117, 0.5);
    padding: 1rem;
    margin-bottom: 2rem;;;
}
.profile_back{
    height: 20rem!important;
    width: 45rem!important;
    
}
.profile_description{
    position: relative;
    left:1rem
}
.profile{
    position: absolute;
    top: 17.5rem;
    height:75px!important;
    width: 75px!important;
    box-shadow: 2px 10px 11px -8px rgba(0,0,0,0.75);
    left: 1.5rem;
    border: 4px solid white
}
.profile_followers{
    position: relative;
    font-size: 1rem;
    left:1rem;
}
#new_post_icon{
    position: absolute;
    width: 60px!important;
    right: 1rem;
    bottom: 1rem;
}

#show_cards_user{
    position: relative;
    color:rgb(0, 0, 0);
    background: #ffffff;
    width: 45rem;
    text-align:justify;
    border:2px solid rgba(223, 219, 219,0.5)
    
}
.post_content{
    margin-top: 1.5rem;
    font-weight: 500;
}
.post_creator{
    background: rgb(255, 255, 255);
    height: 2rem;
    position: relative;
    top:-1.5rem;
}
.avatar_post{
    position:absolute;
    bottom:-2rem;
    right:2rem;
    z-index: 2;
    border:4px solid white;
    width:75px!important;
    height:75px!important;
    box-shadow: 2px 10px 11px -8px rgba(0,0,0,0.75);
    
}
.user_email_post{
    font-weight:600;
    height: 2rem;
    font-size: 2rem;
    position: relative;
    top:-0.2rem
    
}
.cards_general{
    width: 45rem;
    position: relative;
    left:12rem;
    background-color: white;
    border: none!important
}

.cards_post{
    margin-bottom: 2rem;
    
}

.votes_post{
    width: 10rem;
}
.photo_card{
    width: 45rem;
    max-height: 20rem
}
#likes_up, #likes_down{
    width: 45px;
    height: 45px;
}
.counter{
    font-weight: 800;
    font-size: 2rem;
}
