// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.gral_post{
    position: relative;
    top:5rem;
    left:17rem;
    max-width: 40rem; ;
}
.post_general{
    position: relative;
    
    padding:1rem;
}