
<nav class="nav-bar">
    
                
        <ul>
            <li><a class="active" href= ''>.</a></li>
            <li><a class="active" href= ''>tweets</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>
   
</nav>