
<nav class="nav-bar d-flex justify-content-between align-content-center">
    <% if current_user != nil%>
        <ul>
            
            <li><a class="active" href= '' class='lef_nav_icons' style='height:5rem;color: rgb(47, 35, 58)'>twesets</a></li>
            <li><a href="#news" class='lef_nav_icons'>News</a></li>
            <li><a href="#contact" class='lef_nav_icons'>Contact</a></li>
            
        </ul>
            <%= inline_svg_tag "logo.svg", class: 'some-class',title: 'Some Title'%>
        <ul>
            
            <li><a class="active" href= '' class='lef_nav_icons' style='height:5rem;color: rgb(47, 35, 58)'>tweets</a></li>
            <li><a href="#news" class='lef_nav_icons'>News</a></li>
            <li><a href="#contact" class='lef_nav_icons'>Contact</a></li>
            
        </ul>
    <% else %>
        <ul>
            
            <li><a class="active" href= '' class='lef_nav_icons' style='height:5rem;color: rgb(47, 35, 58)'>...</a></li>
            <li><a href="#news" class='lef_nav_icons'>...</a></li>
            <li><a href="#contact" class='lef_nav_icons'>...</a></li>
            
        </ul>
            <%= inline_svg_tag "logo.svg", class: 'some-class' %>
        <ul>
            
            <li><a class="active" href= '' class='lef_nav_icons' style='height:5rem;color: rgb(47, 35, 58)'>...</a></li>
            <li><a href="#news" class='lef_nav_icons'>...</a></li>
            <li><a href="#contact" class='lef_nav_icons'>...</a></li>
            
        </ul>
    <%end%>
</nav>