<div class="right-pane p-3">
    <h4 class='user_email'> who to follow</h4>
    <ul class="follow-data left_list d-flex flex-column">
         <% 10.times do%>
            <li class='text-center'> <a href=""> <%= current_user.email%></a><br><br></li>
        <% end %>
    </ul>
</div>