<div class="right-nav">
    <h2> WHO TO FOLLOW</h2>
    <ul class="follow-data">
         <% 10.times do%>
            <li><span>Full name: </span><%= current_user.email%><br><br></li>
        <% end %>
    </ul>
</div>