<div class="right-pane p-3" >
    <h4 class='user_email text-center' style = 'margin-top:1rem;'> who to follow</h4>
    <ul class="follow-data center_list d-flex flex-column text-center justify-content-center">
         
         <% if User.all.size < 20 %>
         
            <% User.all.each do |user| %>
            
                <li> <a href=<%= user_show_url(user_id: user.id, current_id: current_user.id ) %>><%=user.email[0..15]%></a></li>
            <%end%>
        <%else%>
        
            <% User.all.take(20).each do |user| %>
                
                <li> <a href=<%= user_show_url(user_id: user.id, current_id: current_user.id ) %>><%=user.email[0..15]%></a></li>
            <%end%>
        <%end%>
         
         
    </ul>
</div>